#transactions-page {
    margin: 1rem 2rem;
}

#transactions-page img {
    height: 100%;
    max-width: 6rem;
    max-height: 6rem;
}

#transactions-page button {
    font-size: 1rem;
}


@media (max-width: 525px) {

    #transactions-page img {
        height: 100%;
        max-width: 3rem;
        max-height: 3rem;
    }
    #transactions-page .admin-table {
        display: none;
    }

    #transactions-page .admin-management-cards {
        display: flex;
    }
}
