.provider-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    width: 13rem;
    height: 7rem;
}
.provider-card-name, .provider-card-price{
    padding-bottom: 0.6rem;
    font-size: 1.08rem;
    text-decoration: none;
    color: var(--textWhite);
}

.provider-card-price-section{
}
.original-price {
    font-size: 1rem;
    text-decoration: line-through;
    color: var(--textWhite);
    opacity: 70%;
}

.discounted-price {
    font-size: 1rem;
    padding-top: 0.4rem;
    color: var(--textWhite);
}

.provider-card-price-and-discount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.provider-card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 6rem;
    padding-left: 0.4rem;
    padding-top: 0.4rem;
}

.provider-card-price{
    justify-self: flex-end;
}
.provider-logo-placeholder{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    height: 6rem;
    width: 6rem;
}


@media (max-width: 380px) {

    .provider-logo-placeholder{
        height: 5rem;
        width: 5rem;
    }
    .provider-card{
        width: 12rem;
        height: 6rem;

    }
}