.provider-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    width: 13rem;
    height: 9rem;
}
.provider-card-name, .provider-card-price,
.provider-card-date{
    text-align: center;
    color: var(--textWhite);
}

.provider-card .provider-card-price-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.provider-card-price-and-discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    margin-top: auto;
}

.original-price {
    font-size: 1rem;
    text-decoration: line-through;
    color: var(--textWhite);
    opacity: 70%;
}

.discounted-price {
    font-size: 1rem;
    color: var(--textWhite);
}

.provider-card-price-and-discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.provider-card .provider-card-text b {
    font-size: 1.2rem;
    /*background-color: orange;*/
}

.provider-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

.provider-card-price{
    justify-self: flex-end;
}
.provider-logo-placeholder{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    height: 6rem;
    width: 6rem;
}


@media (max-width: 380px) {

    .provider-logo-placeholder{
        height: 5rem;
        width: 5rem;
    }
    
}