#users-favorites{
    margin: 1.3rem;
    background-color: white;
    width: 62.5rem;
}
#favorites-heading{
    padding: 1rem;
}
.one-favorite{
    padding-bottom: 1rem;
    margin: 0rem 1rem;
}



.favorite-image-and-text {
    display: flex;
    flex-direction: row;
}

.favorite-image-and-text .image-wrapper {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 10rem;
}


.favorite-course-image{
    display: flex;
    max-width: 100%;

    max-height: 100%;
}

.favorite-course-title {
    /*font-size: 1rem;*/
    padding-top: 1.6rem;
    padding-bottom: 0.7rem;
}

@supports (-webkit-line-clamp: 3) {
    .favorite-image-and-text .favorite-course-text {
        display: -webkit-box; /* Required for line clamping */
        -webkit-box-orient: vertical; /* Required for line clamping */
        -webkit-line-clamp: 4; /* Limit to 3 lines */
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Add ellipsis */
    }
}

@supports not (-webkit-line-clamp: 3) {
    .favorite-image-and-text .favorite-course-text{
        position: relative;
        max-height: 4.5rem; /* Adjust based on line height and number of lines */
        line-height: 1.5em; /* Adjust based on your design */
        overflow: hidden;
    }

    .favorite-image-and-text .favorite-course-text::after {
        content: '...';
        position: absolute;
        bottom: 0;
        right: 0;
        background: white; /* Match the background color */
        padding-left: 5px; /* Add some spacing */
    }
}

@media (max-width: 700px){
    #users-favorites{

        width: 46.7rem;
    }
}
