#providers-page {
    margin: 1rem 2rem;
}

#providers-page .provider {
    width: 100%;
}

#providers-page button {
    font-size: 1rem;
}

#providers-page #addProvider {
    color: var(--textWhite);
    margin: 1rem 0;
}

#providers-page #addProvider a {
    color: var(--textWhite);
    text-decoration: none;
}

#providers-page img {
    height: 100%;
    max-width: 6rem;
    max-height: 6rem;
}