
.admin-sidebar-container #dashboard {
    display: flex;
    flex-flow: column;

}

.admin-sidebar-container {
    display: flex;
    flex-flow: row;
    margin: 0;
    min-height: 100rem;
}

.admin-sidebar {
    display: flex;
    flex-flow: column;
    min-width: 24rem;

    width: 24rem;
    max-width: 24rem;
    box-shadow: var(--shadow) 0 2rem 1rem;
}

.admin-sidebar-container .filter-header {

    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    background-color: var(--highlight);
}

.admin-sidebar p {
    margin: 1rem 0.5rem;
}

.admin-sidebar ul {
    border-radius: 0px;
    background-color: #eaeaea;
    padding: 0.5rem 0;
}

.admin-sidebar li {

    background-color: #eaeaea;

}

.admin-sidebar li:hover {
    background-color: var(--highlight);
}

/* Toggle Button (Hidden on Desktop) */
.sidebar-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem;

    z-index: 1;
}


.admin-sidebar a {
    display: block;
    text-decoration: none;
    color: var(--textBlack);
    padding: 1rem 1rem;
}

@media (max-width: 768px) {
    .admin-sidebar {
        display: none;

        /*height: 100vh;*/
        z-index: 1;
        background: white;

    }

    .sidebar-toggle {
        display: flex;
        position: fixed;
        border-color: var(--shadow);
        background: var(--textWhite);
        z-index: 2;
    }

    .admin-sidebar.open {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 9rem;
        min-height: 100%;
        min-width: 100%;
    }


    .admin-sidebar-container {
        display: flex;
        flex-flow: column;


    }

    .admin-page-content {
    }

}