.admin-dash{
    padding: 1rem;
}
.admin-dash-content{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    padding-bottom: 4rem;
}
.admin-dash-revenue{
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--highlight);
}
.admin-dash-revenue h6{
    margin-top: 2rem;
}
.admin-dash-revenue-graph{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.admin-dash-reviews{
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--highlight);
}
.admin-dash-users{
    min-width: 25rem;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--highlight);
}
.admin-dash-courses{
    min-width: 25rem;
    margin-top: 2rem;
    padding: 1rem;
    display: block;
    background-color: var(--highlight);
}
.admin-dash-result{
    gap: 1rem;
    margin-top: 1rem;
}
.admin-dash-title{
    font-weight: lighter;
}
.admin-dash-review-user-image{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}