
.offerableCourse-page .react-datepicker__input-container .react-datepicker__calendar-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.offerableCourse-page .react-datepicker__view-calendar-icon input {
    padding-left: 2rem; /* Adjust this value to create space for the icon */
}

.offerableCourse-page .react-datepicker-wrapper {
    width: 100%;
}


.offerableCourse-page {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    gap: 1rem;
}

#offerableCourse-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*margin: 2rem;*/
}

#offerableCourse-info .input-wrapper {
    position: relative;
    display: inline-block;
    margin: 1rem 0;
}

.group-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.group-2 .input-wrapper {
    flex: 1 1 calc(50% - 0.5rem); /* Two columns with gap */
}

.group-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.group-3 .input-wrapper {
    flex: 1 1 calc(33.33% - 0.7rem); /* Three columns with gap */
}

#offerableCourse-info input[type="text"],
#offerableCourse-info input[type="number"],
#offerableCourse-info input[type="date"],
#offerableCourse-info select,
#offerableCourse-info textarea {
    width: 100%;
    height: 2.5rem;
    margin: 1rem 1rem;

    box-sizing: border-box;
    border: 1px solid var(--shadow);
    font-size: 1rem;
}

#offerableCourse-info input[type=checkbox] {
    margin: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    outline-color: olivedrab;
}

#offerableCourse-info input[type="file"] {
    width: 100%;
    height: 2.5rem;
    margin: 1rem 1rem;
    box-sizing: border-box;
    font-size: 1rem;

}

#offerableCourse-info textarea {
    height: 16rem;
    padding: 1rem;
    resize: none;
    /*padding-left: 2rem;*/
}

#offerableCourse-info .cta-button {
    margin: 1rem 1rem;
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (max-width: 900px) {
    .group-2 .input-wrapper,
    .group-3 .input-wrapper {
        flex: 1 1 100%;
    }

    .admin-sidebar {
        display: none;
    }
}