#users-page {
    margin: 1rem 2rem;
}


#users-page #addUser {
    color: var(--textWhite);
    margin: 1rem 0;
}

#users-page #addUser a {
    color: var(--textWhite);
    text-decoration: none;
}

#users-page img {
    height: 100%;
    max-width: 6rem;
    max-height: 6rem;
}

#users-page button {
    font-size: 1rem;
}
#users-page .admin-table th:nth-child(4)
{
    width: 6%;
}
#users-page .admin-table th:nth-child(2)
{
    width: 10%;
}

@media (max-width: 550px) {
    #users-page img {
        height: 100%;
        max-width: 3rem;
        max-height: 3rem;
    }
    #users-page .admin-table {
        display: none;
    }

    #users-page .admin-management-cards {
        display: flex;
    }
}