/* Default styling */
* {
    margin: 0;
    font-size: 16px;
    color: var(--textBlack);
    border-radius: 3px;
    font-family: "Tienne", serif;

    /* Colours used*/
    --textBlack: #242C2E;
    --textWhite: #F5F5F5;
    --primary: #86b6c2;
    --contrast: #4D7E8A;
    --highlight: #D9E1F4;
    --cta: #455993;
    --background: #DAF0F4;
    --shadow: rgba(0,0,0,0.2);
}

.tienne-regular {
    font-family: "Tienne", serif;
    font-weight: 400;
    font-style: normal;
}
.tienne-bold {
    font-family: "Tienne", serif;
    font-weight: 700;
    font-style: normal;
}

.tienne-black {
    font-family: "Tienne", serif;
    font-weight: 900;
    font-style: normal;
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}


small {
    font-size: 0.833rem;
}
/* Navbar */
#menu-navbar {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    max-height: 5rem;
    padding: 0.2rem;
}

#logo-icon {
    height: 3rem;
    width: 3rem;
}

#triangle-icon{
    rotate: 180deg;
}

nav li {
    list-style-type: none;
    padding-inline-start: 0;
}

#menu-navbar > li {
    margin: 2rem
}


.page {
    display: flex;
    flex-flow: row;
}

.cta-button {
    background-color: var(--cta);
    color: var(--textWhite);
    height: 3rem;
    width: 7rem;
}

.drop-btn {
    display: flow;
    color: var(--textBlack);
    padding: 1rem;
    font-size: large;
    border: none;
    background-color: var(--primary);
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary);
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px var(--shadow);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--textBlack);
    padding: 12px 1rem;
    font-size: 1rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--background);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-btn {
    background-color: var(--primary);
}

.search-container input[type=text] {
    all: unset;
    color: var(--textBlack);
    height: 100%;
    width: 100%;
    padding: 0.5rem 0.8rem;
}

.search-container #form_search {
    background-color: var(--textWhite);
    min-width: 55rem;
    max-width: 75rem;
    max-height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

::placeholder {
    color: var(--textBlack);
    opacity: 0.7;
}

.search-container #search_btn {
    all: unset;
    cursor: pointer;
    width: 2rem;
    height: 4rem;
}

.search-container #search_btn #searchIcon {
    display: flow;
    align-items: center;
    padding: 0.5rem;
}
#login-signup{
    display: flow;
    align-items: center;
    justify-content: center;
}

#login-btn{
    background-color: var(--textWhite);
    color: var(--textBlack);
}

#signup-btn{
    background-color: var(--cta);
    color: var(--textWhite);
}
#login-btn, #signup-btn{
    border: 1px solid var(--textBlack);
    cursor: pointer;
    font-size: large;
    width: 10rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
}
#login-btn #signup-btn:hover{
    box-shadow: 0px 8px 16px 0px var(--shadow)
}




