@import "styles.css";
@import "navBarLoggedIn.css";


html {
    background-color: var(--background);

}
body{
    font-family: "Tienne", serif;
    max-width: 1200px;
}

h1{
    padding-left: 20px;
}

#content{
    display: flex;
    flex-wrap: wrap;

}

#user-caret {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    background-color: white;
    width: 250px;
    height: 300px;
    justify-content: center;
    max-width: 250px;
    flex-direction: column;

}

#caret {
    display: flex;
    flex-direction: column;

    width: 250px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

#image {
    border-radius: 50%;
}


#user_name {
    font-size: 1.5rem;
}

#edit {
    display: flex;
    padding-top: 10px;
    padding-right: 10px;
    width: 25px;
    justify-self: flex-end;
    align-self: flex-end;
}
#courses-heading{
    font-size: 2rem;
}

#user_courses {
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    justify-self: flex-start;
    width: 730px;
    height: 300px;
}
li{
    padding-top: 10px;
}
.star{
    max-width: 15px;
    max-height: 15px;
}
#users_reviews{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    width: 1000px;
}
.user-review-image{
    border-radius: 50%;
}
.user-name-review{
    justify-self: flex-start;
}
.user-review-section{
    max-width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.review-date{
    padding-bottom: 10px;
    opacity: 40%;
}
.review-title{
    padding-top: 20px;
    padding-left: 10px;
    font-size: 1rem;
}
.review-text{
    padding-left: 10px;
    padding-bottom: 10px;
}
#review-heading{
    font-size: 2rem;
}

#users_favorites{
    margin-bottom: 20px;
}

.one-favorite{
    padding-bottom: 10px;
}

.favorite-course-title{
    padding-left: 10px;
}

.favorite-image-and-text{
    padding-left: 10px;
    display: flex;
}
.favorite-course-text{
    padding-left: 10px;
}

#users_favorites{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    width: 1000px;
}
#favorites-heading{
    font-size: 2rem;
}
.favorite-course-title{
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 10px;
}