
#courseIndex #addCourse {
    background-color: var(--cta);
    margin: 0.5rem 2rem;
}

#courseIndex #addCourse a {
    display: block;
    text-decoration: none;
    color: var(--textWhite);
    padding: 1rem 1rem;
}

