
#courseIndex {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    max-width: 600rem;
}

#courseIndex li {
    background-color: var(--gray);
}

#courseIndex .collapsable.collapsed {
    background-color: var(--gray);
    max-height: 500rem;

}

#courseIndex .filter-header {
    height: 3rem;
}

#courseIndex #addCourse {
    margin: 1rem 0rem;
}

#courseIndex #addCourse a {
    display: block;
    text-decoration: none;
    color: var(--textWhite);
}

#courseIndex #table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#courseIndex #table-header select {
    height: 3rem;
    max-width: 20rem;
}

#courseIndex #course-table {
    table-layout: fixed;
}

#courseIndex #course-table thead {
    background-color: var(--highlight);
}

#courseIndex #course-table tbody {
    background-color: var(--textWhite);
    border: #242C2E solid 1px;
}

#courseIndex #course-table th {
    padding: 1rem 2rem;
    text-align: center;
}

#courseIndex #course-table th:nth-child(2) {
    width: 20rem;
}

#courseIndex #course-table tr {
    border-bottom: #242C2E solid 1px;
    height: 4rem;
}

#courseIndex #course-table tr:hover {
    background-color: var(--gray);
}


#courseIndex #course-table td {
    vertical-align: center;
    padding: 1rem 1rem;
}

#courseIndex img {
    height: 100%;
    max-width: 6rem;
    max-height: 6rem;
}

#courseIndex button {
    font-size: 1rem;
}

#courseIndex .filter-dropdown-container {
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: flex-start;
}

@media (max-width: 1500px) {
    #courseIndex img {
        height: 100%;
        max-width: 3rem;
        max-height: 3rem;
    }
    #courseIndex .admin-table {
        display: none;
    }

    #courseIndex .admin-management-cards {
        display: flex;
    }
}







