
.admin-table #table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 2rem;
}

.admin-table #table-header select {
    height: 4rem;
}

.admin-table  {
    table-layout: fixed;
    width: 100%;
}

.admin-table img {
    width: 3rem;
    height: 3rem;
}

/*Sets width of delete and edit button column*/
.admin-table th:nth-last-child(1) {
    width: 8rem;
}

.admin-table  thead {
    background-color: var(--highlight);
}

.admin-table  tbody {
    background-color: var(--textWhite);
    border: #242C2E solid 1px;
}

.admin-table  th {
    padding: 1rem 0.5rem;
    text-align: center;
}


.admin-table  tr {
    border-bottom: #242C2E solid 1px;
    height: 4rem;
}

.admin-table  tr:hover {
    background-color: var(--gray);
}


.admin-table  td {
    vertical-align: center;
    padding: 1rem 1rem;
    margin: 1rem 0;
}

.edit-button {
    height: 2rem;
    width: 6rem;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

.button-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    background-color: transparent;
    height: 3rem;
}

.admin-management-cards {
    display: none;
}

@media (max-width: 525px) {
    .admin-table {
        display: none;
    }

    .admin-management-cards {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 1rem;
    }

    .admin-management-card {
        background-color: var(--textWhite);
        border-radius: 3px;
        padding: 1rem;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    }

    .card-row {
        display: flex;
        align-items: center;
        margin-bottom: 0.75rem;
        gap: 0.75rem;
        flex-wrap: wrap;
    }

    .card-row h6 {
        font-size: 0.95rem;
        font-weight: bold;
        margin: 0;
        min-width: 90px;
    }
    .button-group button {
        height: 3rem;
        border: 0;
    }


}

