
.filters .react-datepicker__input-container .react-datepicker__calendar-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.filters .react-datepicker__view-calendar-icon input[type="text"] {
    padding-left: 2rem; /* Adjust this value to create space for the icon */
    /*width: 8rem;*/
}

.filters label {
    font-size: 1rem;
}

.filters {
    display: flex;
    flex-flow: column;
    min-width: 24rem;
    width: 24rem;
    max-width: 24rem;
    min-height: 100rem;
    box-shadow: var(--shadow) 0 2rem 1rem;
    background-color: var(--textWhite);
    z-index: 1;
}


.search-results {
    display: flex;
    flex-flow: column;
    min-height: 50rem;
    margin: 0 3rem;

}

.search-page #results {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search-page #resultsinfo {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    min-width: calc(100vw - 30rem);
    align-items: center;
    margin: 1rem 0;
}

#resultsinfo h2 {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
}

#resultsinfo .input-wrapper {
    position: relative;
    display: inline-block;
}

#resultsinfo .input-wrapper label {
    position: absolute;
    font-size: 1rem;
    top: -2rem;
    left: 0rem;
}

.search-page {
    display: flex;
    flex-flow: row;
}

.search-page section {
    /*margin: 2rem 0;*/
}

.filter-header {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    background-color: var(--highlight);
}

.filters #difficulty {
    display: flex;
    flex-flow: column;
    padding: 1rem 0;
}

.filters #dates {
    /*padding-bottom: 60rem;*/
}

.search-input-field-container {
    display: flex;
    flex-flow: row;
    margin: 2rem 0;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper label {
    position: absolute;

    top: -1rem;
    left: 1rem;
}

.filters input[type="number"] {
    width: 8rem;
}

.filter-dropdown-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem;
    z-index: 0;
}

.filter-dropdown {
    color: var(--textBlack);
    height: 4rem;
    width: 12rem;
}


.filters #category {
    display: flex;
    flex-flow: column;
    padding: 1rem 0;
}

.search-page p {

    margin: 1rem 1rem;
}
.filters input {
    margin: 0.4rem 1rem;
}

.search-page label {
    vertical-align: center;

}

.search-page input[type=checkbox] {
    height: 2rem;
    width: 2rem;
    outline-color: olivedrab;
}

.search-page input[type="text"],
.search-page input[type="number"],
.search-page input[type="date"],
.search-page select,
.search-page textarea {
    /*width: 100%;*/
    height: 2.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid var(--shadow);
    font-size: 1rem;
}


.search-page .cta-button {
    width: 100%;
    margin: 1rem 0;
}


/* Toggle Button (Hidden on Desktop) */
.sidebar-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem;

    z-index: 1;
}

@media (max-width: 768px) {

    .search-page {
        display: flex;
        flex-flow: column;
    }

    .filters {
        display: none;
    }

    .filters.open {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 9rem;
        min-height: 100%;
        min-width: 100%;
    }

    .search-page .cta-button {
        height: 4rem;
    }

    .search-page input[type="text"],
    .search-page input[type="number"],
    .search-page input[type="date"],
    .search-page select,
    .search-page textarea {
        height: 4rem;
        width: 10rem;
    }

    .search-page input[type=checkbox] {
        height: 4rem;
        width: 4rem;
    }
}

