
.review-writer-section{
    padding: 1rem;
    width: 100%;
    background-color: var(--textWhite);
}

.review-writer-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.review-writer-container-stars{
    height: 2rem;
    width: 2rem;
    scale: 160%;
    justify-self: center;
    align-self: flex-start;
    padding-top: 0.5rem;
    margin-left: 1.4rem;
}

.review-writer-container input {
    border: 1px solid var(--shadow);
    font-size: 1rem;
}

.review-writer-container-input::placeholder{
    font-size: 1rem;
}

.review-writer-container-input{
    /*font-size: 1rem;*/
    /*height: 20rem;*/
    resize: none;
}

.review-writer-stars-and-publish{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    align-items: center;
    align-content: center;
    justify-content: space-between;
 }

#review-writer-container-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: fit-content;
    margin-top: 1rem;
    gap: 1rem;
}

#review-writer-button-publish, #review-writer-button-cancel{
    margin-top: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
}


.review-writer-container-title{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.review-writer-container-title::placeholder{
    font-size: 1rem;
}

