.about-hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    background-image: url("/public/aboutHeroBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30rem;
}

#about-hero-img-box {
    display: flex;
    align-self: flex-end;
    padding-right: 2rem;
}
#about-hero-img{
    width: 20rem;
    height: auto;
}

.about-hero-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 50%;
    width: 30%;
}

.about-hero-text {
    align-self: flex-start;
    font-weight: normal;

}
.about-us-and-our-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--textWhite);
    padding: 2rem;
    width: 100%;
}
.about-us-and-our-products-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    max-width: 150rem;
}
.about-us-and-our-products-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns:  1fr  1fr;
    grid-template-areas:
            "text1 text1 img1"
            "img2 text2 text2";
    gap: 4rem;
    max-width: 100rem;
}
.about-section-text-box{
    background-color: var(--contrast);
    padding: 2rem;
    border-radius: 5px;
    max-width: 50rem;
}

#about-section-text-box-1 { grid-area: text1; }
#about-section-img-1      { grid-area: img1;  }

#about-section-img-2      { grid-area: img2;  }
#about-section-text-box-2 { grid-area: text2; }

.about-section-text-box .about-section-text{
    font-weight: normal;
    color: var(--textWhite);
}

.about-section-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.about-section-img{
    width: 15rem;
    height: auto;
}

.about-our-mission{
    padding: 2rem;
    background-color: var(--highlight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-our-mission-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 150rem;

}
.about-our-mission-text-box{
    width: 50%;
    max-width: 100rem;
}
.about-our-mission-img-box{
    display: flex;
    justify-content: center;
}
.about-our-mission-img{
    width: 20rem;
}

#about-feedback-section {
    display: flex;
    padding: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

#about-feedback-title {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

.about-feedback-main-box {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
}

.about-feedback {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--contrast);
    box-shadow: #b4afbc 5px -5px 5px;
    max-width: 30rem;
}

.about-feedback-quote, .about-name, .about-job-desc {
    color: var(--textWhite);
}

.about-feedback-quote{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-feedback-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: auto;
    padding-top: 2rem;
}

.about-name, .about-job-desc {
    font-weight: bold;
}


@media (max-width: 1285px) {
    .review {
        display: grid;
        grid-template-columns: 11rem 11rem 11rem
    }
    #about-hero-img{
        width: 18rem;
    }
}

@media (max-width: 1024px) {
    .about-us-and-our-products-grid {
        grid-template-columns: 1fr 1fr;
    }
    .about-hero-text{
        font-size: 1.5rem;
    }
}

@media (max-width: 920px) {
    .review {
        display: grid;
        grid-template-columns: 11rem 11rem;
    }
    #about-hero-img{
        width: 15rem;
    }
    #about-hero-text-box{
        width: 50%;
    }
    .about-us-and-our-products-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "text1"
            "img1"
            "text2"
            "img2";
        gap: 2rem;
    }

    .about-section-img {
        width: 50%;
    }
    .about-section-text-box .about-section-text{
        font-size: 1.1rem;
    }
    .about-feedback-main-box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
    }
}
@media (max-width: 650px) {
    .about-hero-text{
        font-size: 1.2rem;
    }
    .about-our-mission-img{
        width: 10rem;
    }
}
@media (max-width: 450px) {
    .about-hero-text{
        font-size: 1rem;
    }
    .about-section-text-box .about-section-text{
        font-size: 0.9rem;
    }
    .about-our-mission-text-box .about-our-mission-text{
        font-size: 0.9rem;
    }
    .about-feedback-main-box {
        display: grid;
        grid-template-columns: 70%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 2rem;
    }
}


