
.container {
    display: flex;
    background-image: url("/public/aboutHeroBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;


}

.herotext {
    width: 20rem;
    align-self: center;
    margin-right: 1rem;
    padding-right: 1rem;
}

#worker-hero {
    display: flex;
    align-self: flex-start;

}

#blurb {

    display: flex;
    flex-direction: column;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--highlight);
}

.blurbTitle {
    align-self: center;
}

.blurbText {

    display: flex;
    justify-content: center;

    max-width: 60rem;
}


#reviewTitle {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

#reviews {
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

.review {
    display: grid;
    grid-template-columns: 11rem 11rem 11rem 11rem 11rem 11rem;
    gap: 3rem;


}

.text, .name {
    color: var(--textWhite);
    width:9rem;
}

.name {
    padding-top: 1em;
}

.oneRev {
    width: 11rem;
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: var(--contrast);
    box-shadow: #b4afbc 5px -5px 5px;
}

#contacts {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    background-color: var(--background);
    padding-bottom: 1rem;
}

#gm-picture{

}

@media (max-width: 1285px) {
    .review {
        display: grid;
        grid-template-columns: 11rem 11rem 11rem
    }
}

@media (max-width: 850px) {
    .review {
        display: grid;
        grid-template-columns: 11rem 11rem;
    }
}

@media (max-width: 320px){
    #gm-picture {
        width: 300px;
        height: 300px;
    }
}


