.course-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: var(--background);
}
#course-splash{
    margin: 1.5rem;
    display: flex;

}
#course-splash-right-side{
    display: flex;
    flex-direction: column;

    margin-top: 3rem;
    margin-right: 3rem;

}

#course-splash-right-side > * {
    margin-top: 0.7rem;
}
#course-splash-star{
    width: 1.5rem;
    height: 1.5rem;
}

#course-splash-image{
    height: 17rem;
    width: 25rem;
}

#course-splash-details{
    display: grid;
    grid-template-columns:  fit-content(50%) fit-content(5%) fit-content(30%) fit-content(5%) fit-content(30%);
    grid-gap: 0.4rem;
    margin-top: 1rem;
}

.course-splash-details-spacing{
    display: flex;
    align-self: center;
    width: 5px;
    height: 5px;
}
#course-splash-avgstars{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#course-splash-rating{
    padding-left: 0.4rem;
}
#course-description{
    width: 60rem;
    padding-left: 1rem;
}
#course-description-heading{
    padding: 0.5rem;
}
#course-description-text{
    padding: 0.5rem;
}
#course-offerables{
    margin-top: 2rem;
    width: 60rem;
    display: flex;
    flex-direction: row;
}
#course-splash-keywords{
    display: flex;
    padding-top: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
}

.course-splash-keyword{
    font-style: italic;
    padding-right: 1rem;
}

@media (max-width: 950px) {
    #course-description{
        width: 37rem;
    }

}
@media (max-width: 600px) {
    #course-splash{
        flex-direction: column;
    }
    .course-page{
        align-items: flex-start;
    }
}