#index-hero-section{
    background-color: var(--background);
    width: 100%;
}
.index-hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40rem;
    flex-wrap: wrap;
}

.index-hero-main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--textWhite);
    box-shadow: 0 8 16 0 var(--shadow);
    padding: 3rem;
    width: 30rem;
    height: 10rem;
}

.index-hero-main-text{
    text-align: center;
}
.index-hero-main-box h5{
    font-weight: lighter;
}
.index-hero-main-box p{
    color: var(--textWhite);
}

#index-hero-main-image{
    display: flex;
    align-self: flex-end;
    justify-content: flex-start;
}

#index-hero-image{
    transform: scaleX(-1);
    width: 20rem;
}

#index-free-btn{
    cursor: pointer;
    font-size: large;
    width: 120px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin-top: 16px;
    padding: 5px;
}
#index-free-btn:hover{
    box-shadow: var(--shadow);
}
#index-course-content{
    height: auto;
    padding-bottom: 2rem;
    background-color: var(--textWhite);
}
.index-section-subheading{
    padding: 0.5rem;
    font-weight: normal;
}
#index-course-cards-section{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
#index-course-cards-section .index-arrow{
    align-content: center;
    border: none;
    cursor: pointer;

}
#index-course-cards-section .index-arrow-icon{
    border: none;
    width: 3rem;
    height: 3rem;
}

#index-collection-cards{
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 10px;
}
.index-card{
    margin: 1rem;
    border: var(--textBlack) 1px solid;
    border-radius: 3px;
    width: 20rem;
}
.index-course-img{
    width: 20rem;
    height: 15rem;
}

.index-card:hover {
    box-shadow: 0px 8px 16px 0px var(--shadow);
}
.index-card .index-card-desc{
    text-align: left;
    padding: 0.5rem;
}
.index-card p {
    text-align: left;
    padding: 0.5rem;
}
index-card img {
    justify-content: center;
    align-content: flex-start;
    padding: 0.5rem;
}

#index-course-content-heading{
    padding: 0.5rem;
}
@supports (-webkit-line-clamp: 3) {
    .index-card .index-card-desc {
        display: -webkit-box; /* Required for line clamping */
        -webkit-box-orient: vertical; /* Required for line clamping */
        -webkit-line-clamp: 3; /* Limit to 3 lines */
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Add ellipsis */
    }
}

@supports not (-webkit-line-clamp: 3) {
    .index-card .index-card-desc{
        position: relative;
        max-height: 4.5em; /* Adjust based on line height and number of lines */
        line-height: 1.5em; /* Adjust based on your design */
        overflow: hidden;
    }

    .index-card .index-card-desc::after {
        content: '...';
        position: absolute;
        bottom: 0;
        right: 0;
        background: white; /* Match the background color */
        padding-left: 5px; /* Add some spacing */
    }
}
/* Collabrotators */
#index-collaborators-section{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--background);
    height: auto;
    padding-bottom: 5rem;
}
#index-collaborator-logos {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 85%;
}

.index-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-logo img {
    max-width: 15rem;
    height: auto;
}
.index-logo img:hover {
    box-shadow: 0px 8px 16px 0px var(--shadow);
}
#index-testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--textWhite);
    padding-bottom: 4rem;
    padding-top: 2rem;
}
#index-testimonial_box{
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    background-color: #4D7E8A;
    padding: 2rem;
}
#index-testimonial_box:hover {
    box-shadow: 0px 8px 16px 0px var(--shadow);
}
#index-testimonial_text{
    padding: 1rem;
    color: var(--textWhite);
    width: 60%;
}
#index-testimonial_text h3{
    color: var(--textWhite);
    font-weight: lighter;
}
#index-testimonial_text p{
    color: var(--textWhite);
    font-weight: lighter;
}
#index-testimonial_photo {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin-right: 1.5rem;
}

#index-hero2{
    padding: 4rem;
    background-color: #DBF0F5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='394' height='394' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23AFD7DF' stroke-width='5'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23437E8A'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
}
#index-hero2-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Slideshow container */
.index-slideshow-container {
    width: auto;
    padding: 2rem;
}

.index-mySlides {
    display: none;
    padding-right: 2rem;
    width: 20rem;
    height: 20rem;
}


/* Fading animation */
.index-fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes index-fade {
    from {opacity: .4}
    to {opacity: 1}
}

#index-hero2_textbox {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 5px; /* Increased for softer edges */
    backdrop-filter: blur(10px); /* Stronger blur for better effect */
    background: rgba(255, 255, 255, 0.15); /* Semi-transparent background */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow to blend edges */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for definition */
}
#index-hero2_textbox h3{
    font-weight: normal;
    padding: 1rem;
}
#index-hero2_textbox p{
    font-weight: normal;
    padding: 1rem;
}
#index-hero2_button{
    display: flex;
    justify-content: center;
}
#index-hero2_textbox button{
    border: 1px solid var(--textBlack);
    cursor: pointer;
    font-size: large;
    width: 10rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 3000px) {

}
@media (max-width: 2800px) {

}
@media (max-width: 2350px) {

}
@media (max-width: 1900px) {

}

@media (max-width: 1600px) {

}
@media (max-width: 1250px) {

    .index-hero-main-box{
        padding: 3rem;
        width: 20rem;
        height: 14rem;
    }

}
@media (max-width: 600px) {
    #index-hero-image{

    }
    .index-card {
        width: 15rem;
    }

    .index-course-img {
        width: 15rem;
        height: 10rem;
    }

    #index-hero2 {
        padding: 2rem;
    }

    #index-hero2-box {
        flex-direction: column;
    }

    #index-hero2_textbox {
        padding: 1rem;
    }

    #index-hero2_textbox h3, #index-hero2_textbox p {
        padding: 0.5rem;
    }

    #index-hero2_button {
        margin-top: 1rem;
    }
}












