#index-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    overflow: hidden;
    background-color: var(--textWhite);
}

#index-hero-section{
    background-color: var(--background);
    width: 100%;
}
.index-hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40rem;
    flex-wrap: wrap;

}

.index-hero-main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--textWhite);
    box-shadow: 0 8 16 0 var(--shadow);
    padding: 2rem;
    width: 30rem;
    height: auto;

}

.index-hero-main-text{
    text-align: center;
}

.index-hero-main-box p {
    font-size: 1.5rem;
    color: var(--textBlack);
}

.index-hero-main-box button p {
    font-size: 1rem;
    color: var(--textWhite);
}

#index-hero-main-image{
    display: flex;
    align-self: flex-end;
    justify-content: flex-start;

}

#index-hero-image{
    transform: scaleX(-1);
    width: 20rem;

}

#index-free-btn{
    cursor: pointer;
    font-size: large;
    text-align: center;
    text-decoration: none;
    margin-top: 2rem;
    padding: 0.4rem;
    width: 10rem;
}
#index-free-btn:hover{
    box-shadow: var(--shadow);
}
#index-course-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--textWhite);
    width: 100%;
    height: auto;
}

#index-course-content{

    height: auto;
    padding-bottom: 2rem;
    background-color: var(--textWhite);
    width: 80vw;
}
.index-section-subheading{
    padding: 0.5rem;
    font-weight: normal;
}
#index-course-cards-section{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}

#index-course-cards-section button {
    border: none;
    background-color: transparent;
}

#index-course-cards-section .index-arrow{
    align-content: center;
    border: none;
    cursor: pointer;
    background: none;
}
#index-arrow-left-btn, #index-arrow-right-btn{
    border: none;
    cursor: pointer;
    background: none;
}
#index-arrow-left-btn, #index-arrow-right-btn:hover{
    box-shadow: var(--shadow);
}
#index-course-cards-section .index-arrow-icon{
    border: none;
    width: 3rem;
    height: 3rem;
}
/* Collabrotators */
#index-collaborators-section{

    display: flex;
    flex-direction: column;
    /*background-color: var(--background);*/
    height: auto;
    padding-bottom: 5rem;
    width: 80vw;
}
#index-collaborators-background {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--highlight);
    width: 100%;
    height: auto;
    padding-bottom: 5rem;
}

#index-collaborator-logos {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    margin: 0 auto;
    width: 85%;
    max-width: 80rem;
}

.index-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin: 1rem;
}

.index-logo img {
    max-height: 100%;
    max-width: 100%;
}

.index-logo-two{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.index-logo img {
    max-width: 15rem;
    height: auto;
}

.index-logo-two-img img {
    max-width: 7.5rem;
    height: auto;
}
.index-logo img:hover {
    /*box-shadow: 0px 8px 16px 0px var(--shadow);*/
}
#index-testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--textWhite);
    padding-bottom: 4rem;
    padding-top: 2rem;
    width: 100%;
}
#index-testimonial_box{
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    background-color: var(--contrast);
    padding: 2rem;
}
#index-testimonial_box:hover {
    /*box-shadow: 0px 8px 16px 0px var(--shadow);*/
}
#index-testimonial_text{
    padding: 1rem;
    color: var(--textWhite);
    width: 60%;
}
#index-testimonial_text h3{
    color: var(--textWhite);
    font-weight: lighter;
}
#index-testimonial_text p{
    color: var(--textWhite);
    font-weight: lighter;
}
#index-testimonial_photo {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin-right: 1.5rem;
}

#index-hero2{
    padding: 4rem 0;
    background-color: #DBF0F5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='394' height='394' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23AFD7DF' stroke-width='5'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23437E8A'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
}
#index-hero2-box{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Slideshow container */
.index-slideshow-container {
    justify-content: center;
    padding: 2rem;
}

.index-mySlides {
    display: none;
}
.index-slideshow-img{
    width: 24rem;
    height: 16rem;
}


/* Fading animation */
.index-fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes index-fade {
    from {opacity: .4}
    to {opacity: 1}
}

#index-hero2 {
    width: 100%;
}

#index-hero2-textbox {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 5px; /* Increased for softer edges */
    backdrop-filter: blur(10px); /* Stronger blur for better effect */
    background: rgba(255, 255, 255, 0.15); /* Semi-transparent background */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow to blend edges */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for definition */
    height: auto;
    width: 30%;

}
#index-hero2-textbox h3{
    padding-bottom: 1.5rem;
}
#index-hero2-textbox h6{
    font-weight: normal;
}
#index-hero2-title-subtitle{
    padding: 1rem;
}
#index-hero2-button p{
    font-weight: normal;
    color: var(--textWhite);
}
#index-hero2-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem;
}
#index-join-for-free{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--textBlack);
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    text-decoration: none;
}
#index-join{
    width: 1rem;
    height: 1rem;
}


@media (max-width: 3000px) {

}
@media (max-width: 2800px) {

}
@media (max-width: 2350px) {

}
@media (max-width: 1900px) {

}

@media (max-width: 1600px) {

}
@media (max-width: 1250px) {
    #index-hero-image{
        width: 18rem;
    }
    .index-hero-main-box{
        width: 20rem;
    }
}
@media (max-width: 1024px){
    .index-logo img {
        max-width: 10rem;
        height: auto;
    }
    .index-logo-two-img img {
        max-width: 5rem;
        height: auto;
    }
}
@media (max-width: 550px) {
    #index-hero-image{
        width: 15rem;
    }
    .index-hero-main-box{
        width: 15rem;
    }

    #index-hero2 {
        padding: 2rem;
    }

    #index-hero2-box {
        flex-direction: column;
    }

    #index-hero2_textbox {
        padding: 1rem;
    }

    #index-hero2_textbox h3, #index-hero2_textbox p {
        padding: 0.5rem;
    }

    #index-hero2_button {
        margin-top: 1rem;
    }

}












