/* Navbar */
#menu-navbar {
    background-color: var(--primary);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;

}
#logo-icon {
    height: 3rem;
    width: 4rem;
}
#logo-image{
    margin-right: 2rem ;
    margin-left: 0;
}

#triangle-icon{
    rotate: 180deg;
}

nav li {
    list-style-type: none;
    padding-inline-start: 0;
}
.page {
    display: flex;
    flex-flow: row;
}
.drop-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--textBlack);
    padding: 1rem;
    font-size: large;
    border: none;
    background-color: var(--primary);
    margin-right: 4rem;
    width: auto;
}
.drop-btn h5 {
    font-weight: normal;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* (Hidden by Default) */
.dropdown-content {
    width: 9rem;
    display: none;
    position: absolute;
    background-color: var(--primary);
    box-shadow: 0px 8px 16px 0px var(--shadow);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--textBlack);
    padding: 12px 1rem;
    font-size: 1rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--background);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-btn {
    background-color: var(--primary);
}

.search-container input[type=text] {
    all: unset;
    color: var(--textBlack);
    height: 100%;
    width: 100%;
    padding: 0.5rem 0.8rem;
}

.search-container #form_search {
    background-color: var(--textWhite);
    width: 75rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2.5rem;
}

::placeholder {
    color: var(--textBlack);
    opacity: 0.7;
    font-size: 1.44rem;
}

.search-container #search_btn {
    all: unset;
    cursor: pointer;
    width: 2rem;
    height: 4rem;
}

.search-container #search_btn #searchIcon {
    display: flow;
    align-items: center;
    padding: 0.5rem;
    width: 2rem;
}

#login-signup-1 {
   display: flex;
}

#login-signup-2 {
    display: none;
}

#menu-icon{
    width: 2rem;
    height: 2rem;
}

#login-signup-btn{
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

#login-btn{
    background-color: var(--textWhite);
    margin-right: 1rem;
}
#login-btn h5{
    font-weight: normal;
}

#signup-btn h5{
    color: var(--textWhite);
    font-weight: normal;
}

#login-btn, #signup-btn{
    border: 1px solid var(--textBlack);
    cursor: pointer;
    font-size: large;
    width: 10rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
}
#login-btn #signup-btn:hover{
    box-shadow: 0px 8px 16px 0px var(--shadow)
}
.nav-user{
    display: flex;
    height: 3rem;
    width: 3rem;
    background-color: var(--textWhite);
}
.nav-user-image{
    justify-content: center;
    align-items: center;
    filter: invert(32%) sepia(9%) saturate(3293%) hue-rotate(187deg) brightness(95%) contrast(81%);
}
.signed-in{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
footer{
    background-color: var(--contrast);
    font-size: 1rem;
    height: auto;
    padding: 1.5rem;
}
#footer-textbox{
    display: flex;
}
#footer-textbox #contact-us{
    min-width: 40%;
}
.textFooter{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
@media (min-width: 2800px) {
    .search-container #form_search {
        max-width: 85rem;
    }
    #login-btn, #signup-btn{
        width: 14rem;
    }
    #login-btn{
        margin-right: 1.5rem;
    }
    #logo-image{
        margin-right: 8rem ;
    }

}
@media (max-width: 2800px) {
    .search-container #form_search {
        max-width: 65rem;
    }
    #login-btn, #signup-btn{
        width: 10rem;
    }
    #login-btn{
        margin-right: 1rem;
    }
    #logo-image{
        margin-right: 4rem ;
    }
}
@media (max-width: 2350px) {
    .search-container #form_search {
        max-width: 55rem;
    }
    #login-btn, #signup-btn{
        width: 10rem;
    }
    #login-btn{
        margin-right: 0.7rem;
    }
    #logo-image{
        margin-right: 7rem ;
    }
}
@media (max-width: 1900px) {
    .search-container #form_search {
        max-width: 45rem;
    }
    #login-btn, #signup-btn{
        width: 10rem;
    }
    #login-btn{
        margin-right: 0.5rem;
    }
    #logo-image{
        margin-right: 6rem ;
    }
}
@media (max-width: 1500px) {
    .search-container #form_search {
        max-width: 35rem;
        margin-right: 0.5rem;
    }
    #login-btn, #signup-btn{
        width: 8rem;
    }
    #login-btn{
        margin-right: 0.3rem;
    }
    #logo-image{
        margin-right: 5rem ;
    }
    .drop-btn {
        margin-right: 3rem;
    }

}
@media (max-width: 1250px) {
    .search-container #form_search {
        max-width: 25rem;
        margin-right: 0.5rem;
    }
    #logo-image{
        margin-right: 4rem ;
    }
    .drop-btn {
        margin-right: 2rem;
    }
    #login-btn, #signup-btn{
        width: 8rem;
    }
    html{
        font-size: 15px;
    }
    footer{
        font-size: 0.925rem;
    }
}
@media (max-width: 1024px) {
    .search-container #form_search {
        max-width: 15rem;
    }
    #login-btn, #signup-btn{
        width: 7rem;
    }
    #login-btn{
        margin-right: 0.1rem;
    }
    #logo-image{
        margin-right: 3rem ;
    }
    .drop-btn {
        margin-right: 1.5rem;
    }
    html{
        font-size: 14px;
    }
    footer{
        font-size: 0.875rem;
    }
}
@media (max-width: 900px){
    html{
        font-size: 12px;
    }
    footer{
        font-size: 0.75rem;
    }
}
/* Tablet - 768px width*/
@media (max-width: 768px) {
    .search-container #form_search {
        max-width: 15rem;
    }
    #courses-dropdown {
        display: none;
    }
    html{
        font-size: 11px;
    }
    footer{
        font-size: 0.625rem;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 8px; /* Adjust the base font size */
    }
    #login-signup-1 {
         display: none;
    }
    #login-signup-2 {
        display: flex;
    }
    .dropdown-content {
        width: 6rem;
    }
}