
.user-page{
    background-color: var(--background);
}

#user-page-content{
    display: flex;
    flex-wrap: wrap;

}

#user-page-caret {
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    background-color: white;
    width: 15rem;
    height: 18rem;
    justify-content: center;
    max-width: 15rem;
    flex-direction: column;

}

#user-caret {
    display: flex;
    flex-direction: column;

    width: 15rem;
    height: 18rem;
    justify-content: center;
    align-items: center;
}

#user-image {
    border-radius: 50%;
}


#user-name {
    font-size: 1.5rem;
}

#edit {
    display: flex;
    padding-top: 0.7rem;
    padding-right: 0.7rem;
    width: 1.5rem;
    justify-self: flex-end;
    align-self: flex-end;
}

#user_courses {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    background-color: white;
    justify-self: flex-start;
    width: 45rem;
    height: 18rem;
}
li{
    padding-top: 0.7rem;
}
.star{
    max-width: 1rem;
    max-height: 1rem;
}
#users-reviews{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    width: 1000px;
}
#users-favorites{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 1000px;
}
.one-favorite{
    padding-bottom: 10px;
}

.favorite-course-title{
    padding-left: 10px;
}

.favorite-image-and-text{
    padding-left: 10px;
    display: flex;
}
.favorite-course-text{
    padding-left: 10px;
}
.favorite-course-image{
    width: 10rem;
    height: 4.7rem;
}

.favorite-course-title{
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 10px;
}