
.user-page{
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

#user-page-content{
    display: flex;
    flex-wrap: wrap;
    max-width: 87.5rem;
    justify-content: center;

}

#user-page-caret {
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    background-color: white;
    width: 15rem;
    height: 20rem;
    justify-content: center;
    max-width: 15rem;
    flex-direction: column;

}

#user-caret {
    display: flex;
    flex-direction: column;

    width: 15rem;
    height: 18rem;
    justify-content: center;
    align-items: center;
}

#user-image {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
}


#user-name {
    font-size: 1.5rem;
}

#edit {
    display: flex;
    padding-top: 0.7rem;
    padding-right: 0.7rem;
    width: 1.5rem;
    justify-self: flex-end;
    align-self: flex-end;
}

#user-page-user-courses {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    justify-self: flex-start;
    width: 46.7rem;
    min-height: 18rem;
    padding-bottom: 1rem;
}
.user-course-item{
    padding-top: 0.7rem;
}
#previous-courses-heading{
   margin: 1rem;
}
.star{
    max-width: 1rem;
    max-height: 1rem;
}
#review-heading{
    padding: 1rem;
}
.users-reviews{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    width: 62.5rem;
}
#users-favorites{
  margin: 1.3rem;
    background-color: white;
    width: 62.5rem;
}
#favorites-heading{
    padding: 1rem;
}
.one-favorite{
    padding-bottom: 0.7rem;
}

.favorite-course-title{
    padding-left: 0.7rem;
}

.favorite-image-and-text{
    padding-left: 0.7rem;
    display: flex;
}
.favorite-course-text{
    padding-left:0.7rem;
}
.favorite-course-image{
    width: 10rem;
    height: 4.7rem;
}

.favorite-course-title{
    font-size: 1rem;
    padding-top: 1.6rem;
    padding-bottom: 0.7rem;
}

@media (max-width: 1290px){

}
@media (max-width: 700px){
    .users-reviews{

        width: 46.7rem;
    }
    #users-favorites{

        width: 46.7rem;
    }
}
@media (max-width: 555px ){

    #user-page-content{
        width: 38rem;
    }
    .user-page-course-hotlink{
        font-size: 80%;
    }
}
