#order-complete-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 6rem;
    padding-bottom: 3rem;
}
#checkmark-order-complete{
    width: 10rem;
    height: 10rem;
}
#thank-you-text{
    width: 40rem;
}
#go-to-userpage{
    width: fit-content;
}
