.App {
  text-align: left;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Hero {
  padding: 100px;
  background-color: aliceblue;
}

.Hero > div {
  max-width: 400px;
  background-color: white;
}

.CTAbutton {
  padding: 10px;
  margin: 10px;
  background-color: greenyellow;
}

.grid {
  align-items: center;
}

.grid--4 {
  
  display: flex;
  flex-wrap: wrap;
}

.cardTitle, .cardDesc, .cardPrice {
  padding: 4px;
  
}

a {
  color: inherit;
  text-decoration: none;
}

.cardImage {
  object-fit: contain;
  height: 200px;
  width: 100%;
  /*background-color: whitesmoke;*/
}

.cardContent {
  
}

.coursecard {
  text-decoration: none;
  border: 2px solid #1C6EA4;
  border-radius: 8px;
  flex-basis: calc(24% - 10px);
  margin-left: 20px;
  margin-bottom: 16px;
  min-width: 450px;
  max-width: 450px;
}

.coursecard > section {
  padding: 10px;
  margin: 4px;
  background-color: white;
}

.coursecard:hover {
  box-shadow: 2px 2px 2px 2px #282c34;
}
